<div class="dijitTabListContainer-${tabPosition}" style="visibility:hidden">
  <div data-dojo-type="dijit.layout._ScrollingTabControllerMenuButton"
     class="tabStripButton-${tabPosition}"
     id="${id}_menuBtn"
     data-dojo-props="containerId: '${containerId}', iconClass: 'more_horiz',
          dropDownPosition: ['below-alt', 'above-alt']"
     data-dojo-attach-point="_menuBtn" showLabel="false" title=""
  >
    <i class="material-icons">more_horiz</i>
  </div>
  <div data-dojo-type="dijit.layout._ScrollingTabControllerButton"
     class="tabStripButton-${tabPosition}"
     id="${id}_leftBtn"
     data-dojo-props="iconClass:'keyboard_arrow_left', showLabel:false, title:''"
     data-dojo-attach-point="_leftBtn" data-dojo-attach-event="onClick: doSlideLeft"
  >
    <i class="material-icons">keyboard_arrow_left</i>
  </div>
  <div data-dojo-type="dijit.layout._ScrollingTabControllerButton"
     class="tabStripButton-${tabPosition}"
     id="${id}_rightBtn"
     data-dojo-props="iconClass:'keyboard_arrow_right', showLabel:false, title:''"
     data-dojo-attach-point="_rightBtn" data-dojo-attach-event="onClick: doSlideRight"
  >
    <i class="material-icons">keyboard_arrow_right</i>
  </div>
  <div class='dijitTabListWrapper' data-dojo-attach-point='tablistWrapper'>
    <div role='tablist' data-dojo-attach-event='onkeydown:onkeydown'
       data-dojo-attach-point='containerNode' class='nowrapTabStrip'></div>
  </div>
</div>
